.card{
    color:white;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid green;
    padding: 0px 40px;
    margin-top: 16px;
}
.main-card{
    width: 303px;
    height: 290px;
    border: 1px solid red;
    margin-right: 24px;
    margin-bottom: 24px;
    cursor: pointer;
}
.main-card-info{
    display: flex;
    position: relative;
    top: -45px;
}
.duration{
    position: relative;
    top: -55px;
    left: 240px;
    width: 41px;
    height: 19px;
    background-color: black;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
}
.avatar{
    width: 32px;
    height: 38px;

}
.title{
    margin-top: 0px;
    font-size: 18px;
    font-weight: 700px;
    color: white;
}
.data{
    width: 263px;
    height: 104px;
    padding-left: 8px;
}
.username{
    margin-top: 0px;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 400;
    color: #a3a3a3;
}
.info{
    margin-top: 0px;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 400;
    color: #a3a3a3;
}